<header id="header">
  <div id="logo-container">
    <a id="logo" href="/">Lush</a>
  </div>
  <div id="current-audio" class="invisible">
    <div class="audio-main">
      <div class="left-side">
        <div class="left-side-container">
          <button class="prev-button"></button>
          <button class="play-button"></button>
          <button class="next-button"></button>
        </div>
      </div>

      <div class="audio-content">
        <div class="audio-header-container">
          <div class="audio-header">
            <div class="artists"></div>
            <div class="title"></div>
          </div>
        </div>
        <progress value="0" max="100" class="progress-bar"></progress>
      </div>

      <div class="audio-hud">
        <div class="right-tab">
          <button class="repeat"></button>
        </div>

        <div class="time">
          <div class="hidden">
            <div class="curr-time">
              <span>00:00</span>
            </div>

            <div class="time-slash">/</div>
          </div>

          <div class="duration">
            <span></span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="pages-container">
    <ul id="pages">
      <li id="music-tab">
        <a href="/music"><div>Music</div></a>
      </li>

      <li id="artists-tab">
        <a href="/artists"><div>Artists</div></a>
      </li>

      <!-- <li id="genres-tab">
          <a href="/genres"><div>Genres</div></a>
        </li> -->

      <li id="playlists-tab">
        <a href="/playlists"><div>Playlists</div></a>
      </li>
    </ul>
  </div>
</header>
