<!-- <div class="song">
    <div class="audio-header">
        <div class="artists"></div>
        <div class="title"></div>
    </div>
    <audio class="audio" controls>
        <source class="source" src="" type="audio/ogg" />
    </audio>
</div> -->
<div class="audio-container">
    <div class="audio-header">
        <div class="artists">AZEALIA BANKS & LAZY JAY</div>
        <div class="title">212</div>
    </div>
    <audio
        src="public/content/AZEALIA BANKS - 212 FT. LAZY JAY.mp3"
        class="audio-player"
        id="audio-player"
        preload="metadata"
    ></audio>

    <div class="audio-hud">
        <div
            class="audio-hud__element audio-hud__action audio-hud__action_play"
            id="audio-hud__action"
        >
            <span>></span>
        </div>

        <div
            class="audio-hud__element audio-hud__curr-time"
            id="audio-hud__curr-time"
        >
            <span>00:00</span>
        </div>

        <progress
            value="0"
            max="100"
            class="audio-hud__element audio-hud__progress-bar"
            id="audio-hud__progress-bar"
        ></progress>

        <div
            class="audio-hud__element audio-hud__duration"
            id="audio-hud__duration"
        >
            <span>00:00</span>
        </div>

        <!-- <div
            class="audio-hud__element audio-hud__mute audio-hud__mute_false"
            id="audio-hud__mute"
        ></div>

        <input
            type="range"
            value="100"
            max="100"
            title="Громкость"
            class="audio-hud__element audio-hud__volume"
            id="audio-hud__volume"
        /> -->

        <!-- <select
            title="Скорость"
            class="audio-hud__element audio-hud__speed"
            id="audio-hud__speed"
        >
            <option value="25">x0.25</option>

            <option value="50">x0.50</option>

            <option value="75">x0.75</option>

            <option value="100" selected>x1.00</option>

            <option value="125">x1.25</option>

            <option value="150">x1.50</option>

            <option value="175">x1.75</option>

            <option value="200">x2.00</option>
        </select>

        <a
            class="audio-hud__element audio-hud__download"
            title="Скачать"
            href="public/content/audio.mp4"
            download
        ></a> -->
    </div>
</div>

<!-- <script>
    var jqueryJS = "https://code.jquery.com/jquery-3.5.0.min.js",
        audioJS = "/public/js/partials/audio.js";
    $.getScript(jqueryJS);
    $.getScript(audioJS);
</script> -->
<!-- <script>
    var audioPlayer = document.getElementById("audio-player");

    //Время

    var progressBar = document.getElementById("audio-hud__progress-bar");

    var currTime = document.getElementById("audio-hud__curr-time");

    var durationTime = document.getElementById("audio-hud__duration");

    //Кнопки

    var actionButton = document.getElementById("audio-hud__action");

    var muteButton = document.getElementById("audio-hud__mute");

    var volumeScale = document.getElementById("audio-hud__volume");

    var speedSelect = document.getElementById("audio-hud__speed");

    function audioAct() {
        //Запускаем или ставим на паузу

        if (audioPlayer.paused) {
            audioPlayer.play();

            actionButton.setAttribute(
                "class",
                "audio-hud__element audio-hud__action audio-hud__action_play"
            );
        } else {
            audioPlayer.pause();

            actionButton.setAttribute(
                "class",
                "audio-hud__element audio-hud__action audio-hud__action_pause"
            );
        }

        if (durationTime.innerHTML == "00:00") {
            durationTime.innerHTML = audioTime(audioPlayer.duration); //Об этой функции чуть ниже
        }
    }

    actionButton.addEventListener("click", audioAct);

    audioPlayer.addEventListener("click", audioAct);
</script> -->
