#artists {
  margin: 50px 0 100px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#artists-ordered-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: center;
}

.artist-container {
  width: 200px;
  margin: 20px 10px;
}

.audio-container:last-child {
  margin-bottom: 0;
  border: none;
}

.artist-link {
  list-style: none;
  text-decoration: none;
  color: black;
}

.image-wrapper {
  height: 200px;
  margin-bottom: 15px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.artist-name {
  font-size: 0.9em;
  font-weight: bold;
  margin-bottom: 10px;
}

.description {
  font-size: 0.8em;
}
