#main #artists {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#artists-ol {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 40px 25px;
  list-style: none;
}

.artist-li {
  background-color: white;
}

.audio-container:last-child {
  margin-bottom: 0;
  border: none;
}

.artist-link {
  list-style: none;
  text-decoration: none;
  color: black;
}

.image-wrapper {
  margin-bottom: 15px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.no-cover {
  background: url("/public/content/musical-note.svg") no-repeat center / 100px;
}

.artist-name {
  font-size: 0.9em;
  font-weight: bold;
  margin-bottom: 10px;
  white-space: pre-wrap;
}

.description {
  font-size: 0.8em;
}
