#artists {
  margin-bottom: 100px;
  padding: 0 100px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#artists-ordered-list {
  /* display: flex;
  flex-wrap: wrap;
  justify-content: center; */
  display: grid;
  grid-template-columns: repeat(8, 200px);
  justify-content: space-between;
  /* column-gap: calc(120px / 7); */
  row-gap: 40px;
  list-style: none;
}

.artist-container {
  /* width: 200px;
  position: relative;
  left: 50%;
  transform: translateX(-50%); */
  height: 100%;
}

.audio-container:last-child {
  margin-bottom: 0;
  border: none;
}

.artist-link {
  list-style: none;
  text-decoration: none;
  color: black;
}

.image-wrapper {
  height: 200px;
  margin-bottom: 15px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.artist-name {
  font-size: 0.9em;
  font-weight: bold;
  margin-bottom: 10px;
}

.description {
  font-size: 0.8em;
}

@media screen and (max-width: 1919px) {
  #artists-ordered-list {
    display: grid;
    grid-template-columns: repeat(7, 200px);
    justify-content: space-between;
    row-gap: 40px;
    list-style: none;
  }
}

@media screen and (max-width: 1550px) {
  #artists-ordered-list {
    display: grid;
    grid-template-columns: repeat(6, 200px);
    justify-content: space-between;
    row-gap: 40px;
    list-style: none;
  }
}

@media screen and (max-width: 1350px) {
  #artists-ordered-list {
    display: grid;
    grid-template-columns: repeat(5, 200px);
    justify-content: space-between;
    row-gap: 40px;
    list-style: none;
  }
}

@media screen and (max-width: 1250px) {
  #artists-ordered-list {
    display: grid;
    grid-template-columns: repeat(4, 200px);
    justify-content: space-between;
    row-gap: 40px;
    list-style: none;
  }
}

@media screen and (max-width: 1050px) {
  #artists-ordered-list {
    display: grid;
    grid-template-columns: repeat(3, 230px);
    justify-content: space-between;
    row-gap: 40px;
    list-style: none;
  }

  .image-wrapper {
    height: 230px;
  }
}

@media screen and (max-width: 850px) {
  #artists-ordered-list {
    display: grid;
    grid-template-columns: repeat(2, 260px);
    justify-content: space-between;
    row-gap: 40px;
    list-style: none;
  }

  .image-wrapper {
    height: 260px;
  }
}

@media screen and (max-width: 750px) {
  #artists-ordered-list {
    display: grid;
    grid-template-columns: repeat(1, 260px);
    justify-content: center;
    row-gap: 40px;
    list-style: none;
  }

  .image-wrapper {
    height: 260px;
    border-radius: 50%;
  }
}
