#artist-pic {
  position: relative;
  height: 400px;
  margin-bottom: 30px;
  overflow: hidden;
}

#artist-pic #image-wrapper {
  width: 100%;
  height: 400px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 25%;
  margin-left: auto;
}

#artist-background {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 400px;
  margin-left: auto;
  z-index: 2;
}

#artist-container {
  position: relative;
}

#artist-name {
  position: absolute;
  top: 80px;
  left: 130px;
  max-width: calc(50% - 130px);
  color: rgb(0, 0, 0);
  font-size: 50px;
  font-weight: bold;
  z-index: 2;
  cursor: default;
}
