#audio-search-bar-container {
  height: 50px;
  padding: 0 100px;
}

#audio-search-bar {
  height: 100%;
  position: relative;
  background-color: rgba(250, 189, 189, 0.514);
}

#import-pfx-button {
  position: absolute;
  width: 40px;
  height: 20px;
  right: 20px;
  top: 15px;
}

#songs {
  margin: 0px 0 100px;
  padding: 0 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
