#audios-ol {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.audio-header {
  font-size: 0.9em;
  display: flex;
  flex-direction: column;
  color: black;
}

.audio-li {
  width: 100%;
  list-style: none;
  cursor: pointer;
  border-top: 1px solid rgba(0, 0, 0, 0.116);
  background-color: rgba(255, 255, 255, 0.95);
}

.audio-li:last-child {
  border-bottom: 1px solid rgba(0, 0, 0, 0.116);
}

.playing > .audio-container {
  background-color: rgba(224, 224, 224, 0.562);
}

.audio-container {
  padding: 0 5px;
}

.audio-container:hover {
  background-color: rgba(224, 224, 224, 0.562);
}

.audio-container:hover #right-tab {
  display: flex;
}

.audio-container {
  display: grid;
  grid-template-rows: auto auto;
}

#audio-main {
  position: relative;
  display: grid;
  grid-template-columns: 28px 1fr;
  column-gap: 5px;
  padding: 5px 0;
  width: 100%;
}

#clickable-background {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.audio-content {
  position: relative;
  display: grid;
  grid-template-columns: 2fr auto auto;
}

.audio-header {
  align-items: flex-start;
}

.audio-header div {
  line-height: 1.3em;
  padding-right: 5px;
  height: 18px;
  overflow: hidden;
  white-space: pre-wrap;
}

.audio-header .title {
  cursor: default;
  z-index: 2;
}

.audio-header .artists {
  color: rgb(141, 141, 141);
  z-index: 2;
}

.audio-header .artists a {
  text-decoration: none;
  color: rgb(141, 141, 141);
  font-size: 0.95em;
}

.audio-header .artists a:hover {
  /* border-bottom: 0.5px solid rgba(141, 141, 141, 0.8); */
  text-decoration: underline;
}

.audio-header .artists span {
  cursor: default;
}

.audio-player {
  width: 100%;
  margin: 0;
}

#audios-ol #genres {
  /* background-color: coral; */
  /* max-width: 50%; */
  display: flex;
  align-self: flex-start;
  /* align-self: flex-end; */
  overflow: hidden;
  font-size: 0.75em;
  padding-right: 10px;
  /* border-left: 1px solid rgb(182, 182, 182); */
}

#audios-ol #genres .genre {
  margin-right: 10px;
  padding: 0px 5px;
  z-index: 1;
  text-decoration: none;
  color: black;
  background-color: rgb(177 205 255);
  border: 1px solid rgb(189, 189, 189);
  border-radius: 2.5px;
}

#audios-ol #genres .genre:last-child {
  margin-right: 0;
}

.audio-hud {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
}

.audio-hud__element {
  cursor: pointer;
  z-index: 2;
}

#audios-ol #time {
  display: flex;
  align-self: flex-end;
  bottom: 0px;
  font-size: 0.65em;
  cursor: default;
  z-index: 2;
}

.hidden {
  display: none;
}

.audio-hud__duration {
  text-align: right;
}

.audio-hud__curr-time > span,
.audio-hud__duration > span {
  width: 100%;
  height: 100%;
  cursor: default;
  /* font-family: "B612 Mono", Courier, monospace; */
}

.audio-hud__duration > span {
  text-align: right;
}

#time-slash {
  margin: 0 3px;
}

.audio-hud__action {
  position: relative;
  column-count: 1;
  color: rgb(255, 151, 151);
}

#audio-hud__action {
  width: 60%;
  height: 100%;
  margin: auto;
}

.audio-hud__action,
.audio-hud__action_pause {
  background: url("/public/content/icons/right-chevron.svg") center/100%
    no-repeat;
}

.audio-hud__action_play {
  background: url("/public/content/icons/pause.svg") center/100% no-repeat;
}

.audio-hud__progress-bar {
  display: none;
  grid-column: 1 / 3;
  width: 100%;
  height: 5px;
  margin: 8px 0 3px;
  border-radius: 2.5px;
  color: lightblue;
  background-color: rgba(116, 116, 116, 0.322);
  z-index: 2;
}

.audio-hud__progress-bar::-webkit-progress-value {
  border-radius: 2.5px;
  background-color: rgb(102, 102, 102);
}

.audio-hud__progress-bar::-webkit-progress-bar {
  background-color: rgba(216, 216, 216, 0);
}

.audio-li #right-tab {
  display: flex;
  justify-content: flex-end;
  margin: 0 -6px 3px 0;
}

.audio-li #right-tab button {
  width: 18px;
  height: 15px;
  margin-right: 2px;
  background: center/10px no-repeat;
  border: none;
  cursor: pointer;
  z-index: 2;
}

.audio-li #right-tab button:last-child {
  margin: 0;
}

.audio-li #right-tab #add-button {
  background-image: url("/public/content/icons/plus-positive-add-mathematical-symbol.svg");
}

.audio-li #right-tab #delete-button {
  background-image: url("/public/content/icons/cancel.svg");
}

.audio-li #right-tab #edit-button {
  background-image: url("/public/content/icons/pencil.svg");
}

.audio-li #right-tab #info-button {
  background-image: url("/public/content/icons/info.svg");
}
