<div id="audio-search-bar-container" class="search-bar-container">
  <div class="first-row">
    <div class="input-bar">
      <input type="text" placeholder="Search" class="search-bar" />
      <button class="clear-input"></button>
    </div>
    <div class="right-tab">
      <button class="search-button"></button>
      <button class="add-button"></button>
      <input
        type="file"
        accept=".mp3,audio/*"
        class="file-input"
        style="display: none"
        multiple
      />
      <output class="list"></output>
      <button class="shuffle-button"></button>
    </div>
  </div>
  <div class="genres-search-bar"></div>
</div>
