.audio-header {
  font-size: 0.95em;
  display: flex;
  flex-direction: column;
  color: black;
}

.audio-li {
  width: 100%;
  list-style: none;
  cursor: default;
  border-top: 1px solid rgba(0, 0, 0, 0.116);
}

.audio-li:last-child {
  border-bottom: 1px solid rgba(0, 0, 0, 0.116);
}

.audio-container {
  display: grid;
  grid-template-columns: 28px 1fr;
  column-gap: 5px;
  padding: 8px 0;
  width: 100%;
}

.audio-content {
  position: relative;
  display: grid;
  grid-template-columns: 1fr auto;
}

.audio-header .artists,
.audio-header .artists a {
  color: rgb(141, 141, 141);
  font-size: 0.95em;
}

.audio-header .artists a {
  text-decoration: none;
}

.audio-player {
  width: 100%;
  margin: 0;
}

.audio-hud {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 0.7em;
  margin: 0;
}

.audio-hud__element {
  cursor: pointer;
}

#time {
  display: flex;
  bottom: 0px;
  /* margin-right: 6px; */
}

.audio-hud__duration {
  text-align: right;
}

.audio-hud__curr-time > span,
.audio-hud__duration > span {
  width: 100%;
  height: 100%;
  cursor: default;
  /* font-family: "B612 Mono", Courier, monospace; */
}

.audio-hud__curr-time > span {
  text-align: left;
}

.audio-hud__duration > span {
  text-align: right;
}

#time-slash {
  margin: 0 3px;
}

.audio-hud__action {
  position: relative;
  column-count: 1;
  color: rgb(255, 151, 151);
}

#audio-hud__action {
  width: 100%;
  height: 100%;
}

.audio-hud__action,
.audio-hud__action_pause {
  background: url("/public/content/icons/play.png") center/100% no-repeat;
}

.audio-hud__action_play {
  background: url("/public/content/icons/pause (2).png") center/100% no-repeat;
}

.audio-hud__progress-bar {
  display: none;
  grid-column: 1 / 3;
  width: 100%;
  height: 5px;
  margin: 8px 0 3px;
  border-radius: 2.5px;
  color: lightblue;
  background-color: rgba(116, 116, 116, 0.322);
}

.audio-hud__progress-bar::-webkit-progress-value {
  border-radius: 2.5px;
  background-color: rgb(255, 165, 165);
}

.audio-hud__progress-bar::-webkit-progress-bar {
  background-color: rgba(216, 216, 216, 0);
}

.more {
  display: none;
  position: absolute;
  top: 2px;
  right: 2px;
  width: 20px;
  height: 15px;
}

.more-button {
  position: absolute;
  width: inherit;
  height: inherit;
  border: none;
  background: white url("/public/content/icons/more.svg") center no-repeat;
  cursor: pointer;
}

.more .dropdown {
  width: 40px;
  top: 16px;
  right: 0;
  border: 1px solid rgb(161, 161, 161);
  border-radius: 5px;
  z-index: 1;
}

.more .dropdown-content {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: inherit;
}

.more .dropdown-content > div {
  width: 100%;
  height: 18px;
  border-bottom: 1px solid rgb(145, 145, 145);
  cursor: pointer;
}

.more .dropdown-content > div:last-child {
  border: none;
}

.more .dropdown .edit-button {
  background: url("/public/content/icons/pencil.svg") center/10px no-repeat;
}

.more .dropdown .info-button {
  background: url("/public/content/icons/info.svg") center/10px no-repeat;
}

.audio-li #right-tab {
  display: flex;
  justify-content: flex-end;
  margin: 0 -6px 3px 0;
}

.audio-li #right-tab button {
  width: 18px;
  height: 15px;
  margin-right: 2px;
  background: center/10px no-repeat;
  border: none;
  cursor: pointer;
}

.audio-li #right-tab button:last-child {
  margin: 0;
}

.audio-li #right-tab .delete-button {
  background-image: url("/public/content/icons/cancel.svg");
}

.audio-li #right-tab .edit-button {
  background-image: url("/public/content/icons/pencil.svg");
}

.audio-li #right-tab .info-button {
  background-image: url("/public/content/icons/info.svg");
}
