.audio-header {
  font-size: 0.95em;
  display: flex;
  color: black;
}

.artists::after {
  content: " —\00a0";
}

.audio-container:first-child {
  margin-top: 50px;
}

.audio-container:last-child {
  margin-bottom: 0;
  border: none;
}

.audio-container {
  display: grid;
  grid-template-columns: 25px 1fr;
  column-gap: 7px;
  padding: 6px 0;
  width: 100%;
  color: #fff;
  border-bottom: 1px solid rgb(0, 0, 0, 0.096);
  cursor: default;
}

.audio-header {
  margin-bottom: 4px;
}

.audio-player {
  width: 100%;
  margin: 0;
}

.audio-hud {
  position: relative;
  height: 20px;
  font-size: 0.8em;
  display: grid;
  grid-template-columns: 30px 1fr 30px;
  margin: 0;
  padding: 1px;
}

.audio-hud div {
  height: 100%;
}

.audio-hud__element {
  color: black;
  cursor: pointer;
  display: inline-block;
}

.audio-hud__curr-time > span,
.audio-hud__duration > span {
  cursor: default;
}

.audio-hud__action {
  position: relative;
  column-count: 1;
  color: rgb(255, 151, 151);
}

.audio-hud__action > span {
  top: -12px;
  font-size: 2.7em;
}

#audio-hud__action {
  margin: auto;
}

#audio-hud__action > img {
  width: 100%;
}

.audio-hud__progress-bar {
  /* visibility: hidden; */
  width: auto;
  margin: 0 12px;
}
