footer {
  position: relative;
  height: 80px;
}

#footer-wrapper {
  position: absolute;
  bottom: 10px;
  right: 100px;
}

#footer-wrapper #copyright {
  font-size: 0.8em;
  cursor: default;
}

#footer-wrapper #copyright #terms {
  font-size: 0.9em;
}

#footer-wrapper span {
  display: inline-block;
}
