#first-bar {
    position: relative;
    width: 100%;
    max-width: 1920px;
    height: 110px;
    margin: 0 auto;
}

#logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-2.75em, -50%);
    color: #fff;
    font-style: italic;
    font-size: 4em;
    display: block;
    letter-spacing: 1em;
    text-shadow: -2px -2px 0 rgb(255, 123, 123);
}

#bulwark {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 960px;
    height: 90%;
    border-bottom: 1px solid rgb(197, 197, 197);
}

#second-bar {
    position: relative;
    height: 40px;
    color: rgb(255, 255, 255);
    background-color: rgb(253, 105, 105);
    font-size: 1em;
    letter-spacing: 0.1em;
    display: flex;
}

#nav-bar {
    height: 100%;
    width: 800px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
    list-style: none;
    display: flex;
    justify-content: space-between;
}

#nav-bar > li {
    height: 100%;
}

#nav-bar > li > a {
    display: block;
    position: relative;
    padding: 8px 15px;
    text-decoration: none;
    color: white;
    cursor: pointer;
}

.dropdown {
    display: none;
    position: absolute;
    color: black;
    cursor: default;
}

#nav-bar > li:hover .dropdown {
    display: block;
}

#artists-tab > .dropdown {
    white-space: nowrap;
}
