#first-bar {
  position: relative;
  width: 100%;
  max-width: 1920px;
  height: 110px;
  margin: 0 auto;
}

#logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-2.6em, -50%);
  text-decoration: none;
  color: #fff;
  font-style: italic;
  font-size: 4em;
  display: block;
  letter-spacing: 1em;
  text-shadow: -2px -2px 0 rgb(255, 123, 123);
  z-index: 1;
}

#bulwark {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0%);
  width: 960px;
  height: 90%;
  border-bottom: 1px solid rgb(197, 197, 197);
}

#second-bar {
  position: relative;
  height: 40px;
  color: rgb(255, 255, 255);
  background-color: rgb(253, 105, 105);
  font-size: 1em;
  letter-spacing: 0.1em;
  display: flex;
}

#nav-bar {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 0 100px;
  list-style: none;
  display: flex;
  justify-content: center;
}

#nav-bar > li {
  height: 100%;
  margin-right: 50px;
}

#nav-bar > li:last-child {
  height: 100%;
  margin-right: 0;
}

#nav-bar > li > a {
  display: block;
  height: 100%;
  padding: 8px 15px;
  text-decoration: none;
  color: white;
  cursor: pointer;
}

.dropdown {
  display: none;
  position: absolute;
}

.shown {
  display: block;
}

#nav-bar .dropdown {
  width: 800px;
  max-height: 500px;
  min-height: 60px;
  left: 50%;
  transform: translate(-50%, 0);
  padding: 10px 20px;
  color: rgb(0, 0, 0);
  cursor: default;
  background-color: rgb(255, 255, 255);
  white-space: nowrap;
  overflow: auto;
  border: 1px solid rgba(0, 0, 0, 0.555);
  border-top: none;
}

.dropdown > p {
  padding: 10px 5px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.096);
  overflow: hidden;
}

.dropdown > p:last-child {
  border: none;
}

#nav-bar li:hover .dropdown {
  display: block;
}

@media screen and (max-width: 850px) {
  #nav-bar .dropdown {
    width: 100%;
    height: calc(100vh - 150px);
  }
}
