* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Quicksand";
  src: url(/public/content/fonts/Quicksand/Quicksand-VariableFont_wght.ttf)
    format("truetype");
}

@font-face {
  font-family: "Montserrat";
  src: url(/public/content/fonts/Montserrat/Montserrat-Light.ttf)
    format("truetype");
}

body {
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr;
  font-family: "Quicksand", "Montserrat", sans-serif;
  /* background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; */
  /* background-color: aliceblue; */
}

main {
  align-items: flex-start;
  width: 100%;
  /* max-width: 1920px; */
  padding-bottom: 100px;
  /* margin-top: 40px; */
  z-index: 1;
}

button,
input {
  font-family: "Quicksand", "Montserrat", sans-serif;
  background-color: white;
  border: none;
  border-radius: 2px;
}

button {
  font-weight: bold;
  cursor: pointer;
}

input {
  padding: 0 2px;
  font-size: 1.02em;
  color: black;
  border: 1px solid rgb(180, 180, 180);
}

#container {
  padding: 0 100px;
}

.fixed {
  position: fixed;
}
