* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", serif;
}

/* body {
  background-image: url("../content/Lush2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-color: rgb(255, 221, 221);
} */

header {
  position: relative;
  z-index: 2;
}

main {
  position: relative;
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  z-index: 1;
}
