* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* background-image: url("../content/Lush2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-color: rgb(255, 221, 221); */
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  font-family: "Quicksand", "GothamSSm ExtraLight", serif;
}

@font-face {
  font-family: "GothamSSm ExtraLight";
  src: url("/public/content/fonts/GothamSSm ExtraLight.otf");
  letter-spacing: 1em;
}

header {
  position: relative;
  z-index: 2;
}

main {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  z-index: 1;
}

footer {
  position: relative;
  height: 80px;
  border-top: 1px solid rgb(202, 202, 202);
}

#footer-wrapper {
  position: absolute;
  bottom: 10px;
  right: 100px;
}

#footer-wrapper #copyright {
  font-size: 0.8em;
  cursor: default;
}

#footer-wrapper #copyright #terms {
  font-size: 0.9em;
}

#footer-wrapper span {
  display: inline-block;
}

button,
input {
  font-family: "Quicksand", "GothamSSm ExtraLight", serif;
  background-color: white;
  border: 1px solid rgb(122, 122, 122);
  border-radius: 2px;
}

button {
  font-weight: bold;
  cursor: pointer;
}

input {
  font-size: 1.02em;
  color: black;
}
