.search-bar-container {
  height: 30px;
  padding: 0 100px;
  margin: 25px 0 50px;
}

#audio-search-bar {
  display: grid;
  grid-template-columns: auto 100px;
  column-gap: 10px;
  position: relative;
  height: 100%;
}

#audio-search-bar #list {
  display: none;
}

#audio-search-bar #right-tab {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 10px;
}

#audio-search-bar #right-tab button {
  background-color: rgb(253, 105, 105);
}

#audio-search-bar #right-tab #search-button {
  background: rgb(253, 105, 105) url("/public/content/icons/loupe.svg")
    center/10px no-repeat;
}
