<div id="edit-artist-window-container">
  <div id="edit-artist-window-background"></div>
  <div id="edit-artist-window">
    <button class="close-button">
      <img src="/public/content/icons/cancel.svg" />
    </button>
    <div class="content">
      <div class="title">
        <div class="section-name"><p>Title</p></div>
        <div class="inputs"></div>
      </div>
      <div class="cover">
        <div class="section-name"><p>Cover</p></div>
        <button class="upload-button"></button>
        <input
          type="file"
          accept="image/*"
          class="file-input"
          style="display: none"
        />
        <output class="list"></output>
        <div class="image-wrapper"></div>
      </div>
      <div class="genres">
        <div class="section-name"><p>Genres</p></div>
        <div class="inputs"></div>
        <div class="add-button-container">
          <button class="add-genre">+</button>
        </div>
      </div>
    </div>
    <button class="submit-button">OK</button>
  </div>
</div>
