<li class="audio-li">
  <audio-player class="audio-container">
    <div
      class="audio-hud__element audio-hud__action"
      id="audio-hud__action"
    ></div>

    <div class="audio-content">
      <div class="audio-header">
        <div class="title"></div>
        <div class="artists"></div>
      </div>

      <div class="audio-hud">
        <div id="right-tab">
          <button id="delete-button" class="delete-button"></button>
          <button id="edit-button" class="edit-button"></button>
          <button id="info-button" class="info-button"></button>
        </div>

        <div id="time">
          <div
            class="audio-hud__element audio-hud__curr-time"
            id="audio-hud__curr-time"
          >
            <span>00:00</span>
          </div>

          <div id="time-slash">/</div>

          <div
            class="audio-hud__element audio-hud__duration"
            id="audio-hud__duration"
          >
            <span>00:00</span>
          </div>
        </div>
      </div>

      <progress
        value="0"
        max="100"
        class="audio-hud__element audio-hud__progress-bar"
        id="audio-hud__progress-bar"
      ></progress>
    </div>
  </audio-player>
</li>
