<li class="audio-li">
  <div class="audio-container">
    <div class="audio-main">
      <div class="clickable-background"></div>

      <div class="left-side">
        <div class="artist-image-wrapper no-cover"></div>
        <div class="play-button">
          <div class="white-circle"></div>
          <div class="action-icon"></div>
        </div>
      </div>

      <div class="audio-content">
        <div class="audio-header">
          <div class="title"></div>
          <div class="artists"></div>
        </div>

        <div class="audio-hud">
          <div class="first-row">
            <div class="genres no-color"></div>
            <div class="right-tab">
              <!-- <button class="add-button"></button> -->
              <!-- <button class="delete-button"></button> -->
              <button class="edit-button"></button>
              <!-- <button class="info-button"></button> -->
            </div>
          </div>

          <div class="second-row">
            <div class="time">
              <div class="hidden">
                <div class="curr-time">
                  <span>00:00</span>
                </div>
                <div class="time-slash">/</div>
              </div>
              <div class="duration">
                <span>00:00</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</li>
