<div id="edit-audio-window-container">
  <div id="edit-audio-window-background"></div>
  <div id="edit-audio-window">
    <button class="close-button">
      <img src="/public/content/icons/cancel.svg" />
    </button>
    <div class="content">
      <div class="title">
        <div class="section-name"><p>Title</p></div>
        <div class="inputs"></div>
      </div>
      <div class="artists">
        <div class="section-name"><p>Artists</p></div>
        <div class="inputs"></div>
        <div class="add-button-container">
          <button class="add-artist">+</button>
        </div>
      </div>
      <div class="genres">
        <div class="section-name"><p>Genres</p></div>
        <div class="inputs"></div>
        <div class="add-button-container">
          <button class="add-genre">+</button>
        </div>
      </div>
    </div>
    <button class="submit-button">OK</button>
  </div>
</div>
