<div id="edit-audio-window-container" style="display: none">
  <div id="edit-audio-window">
    <button id="close-button">
      <img src="/public/content/icons/cancel.svg" />
    </button>
    <div id="content">
      <div id="title">
        <div class="section-name"><p>Title</p></div>
        <div class="inputs"></div>
      </div>
      <div id="artists">
        <div class="section-name"><p>Artists</p></div>
        <div class="inputs"></div>
      </div>
    </div>
    <button id="submit-button">OK</button>
  </div>
</div>
