<div id="edit-playlist-window-container">
  <div id="edit-playlist-window-background"></div>
  <div id="edit-playlist-window">
    <button id="close-button">
      <img src="/public/content/icons/cancel.svg" />
    </button>
    <div id="content">
      <div id="title">
        <div class="section-name"><p>Title</p></div>
        <div class="inputs"></div>
      </div>
      <div id="cover">
        <div class="section-name"><p>Cover</p></div>
        <button id="upload-cover" class="upload-button"></button>
        <input
          type="file"
          accept="image/*"
          id="file-input"
          style="display: none"
        />
        <output id="list"></output>
        <div id="image-wrapper"></div>
      </div>
    </div>
    <button id="submit-button">OK</button>
  </div>
</div>
